{% load static from staticfiles %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'sidebar.css'%}">
<link href="{% static 'logincss.css'%}" rel="stylesheet" type = "text/css">
<body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="signup" class="w3-bar-item w3-button">Sign up</a>
  <a href="contact" class="w3-bar-item w3-button">Contact </a>
  <a href="about" class="w3-bar-item w3-button">About</a>
</div>

<div class="w3-main" style="margin-left:200px">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Bus Ticket Booking</h1>
  </div>
</div>


    <link href="{% static 'contactcss.css'%}" rel="stylesheet" type="text/css">


    <div class="container">
  <div style="text-align:center">
    <h2>Contact Us</h2>
    <p>Swing by for a cup of coffee, or leave us a message:</p>
  </div>
  <div class="row">
    <div class="column">
      <img src="{% static 'conimage.jpg'%}" style="width:100%">
    </div>
    <div class="column">
      <form action="/action_page.php">
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">
        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">
        <label for="gender">Gender</label>
        <select id="gender" name="gender">
          <option value="male">Male</option>
          <option value="female">Female</option>
          <option value="others">Others</option>
        </select>
        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:170px"></textarea>
        <input type="submit" value="Submit">
      </form>
    </div>
  </div>
</div>




</head>
<body>

</html>