{% load static from staticfiles %}
<html>
<head>
<title>passenger</title>
  <div class="my">
    <body background="{% static 'bgimage.jpg'%}">
<style>.img {
  opacity: 0.25;
  filter: alpha(opacity=50);
}</style>
  </div>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{% static 'sidebar.css'%}">
<link href="{% static 'login.css'%}" rel="stylesheet" type = "text/css">
<body>

<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-left" style="width:200px;" id="mySidebar">
  <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
  <a href="home" class="w3-bar-item w3-button">Home</a>
  <a href="signup" class="w3-bar-item w3-button">Sign up</a>
  <a href="contact" class="w3-bar-item w3-button">Contact </a>
  <a href="about" class="w3-bar-item w3-button">About</a>
</div>

<div class="w3-main" style="margin-left:200px">
<div class="w3-teal">
  <button class="w3-button w3-teal w3-xlarge w3-hide-large" onclick="w3_open()">&#9776;</button>
  <div class="w3-container">
    <h1>Bus Ticket Booking</h1>
  </div>
</div>
<body>
<form method="POST" action = 'last'>
    {% csrf_token %}
<h1>Congratulations! Your Ticket Has Been Purchased!</h1>
</form>
</body>
</html>